.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='text'] {
  font-size: 24px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
}

.inputPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.error-wrapper {
  min-height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: red;
}

.viewTable {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
}

.viewRow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454c5a;
  border: 2px solid #282c34;
  min-height: 40px;
}

.viewRow-leyend {
  min-width: 200px;
  text-align: center;
  padding: 0 1rem;
}

.viewRow-value {
  text-align: center;
  min-width: 200px;
  padding: 0 1rem;
  color: #3bda98;
}

.inputCalc {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border: none;
}

.inputCalc_field {
  width: 150px;
  height: 30px;
}

.inputCalc_clear {
  width: 75px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: #32ac79;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fafafa;
}

.clear_disabled {
  background-color: rgb(153, 153, 153);
}

.inputCalc_clear:hover {
  background-color: #c43b3b;
}
